header,
body,
footer {
    margin: 0;
    padding: 0;
}

header,
footer {
    height: 60px;
    background-color: #333;
    font-size: 20px;
    color: #FFF;
}

.title-text {
    width: 80%;
    margin: auto;
    padding-top: 13px;
}

.post-form {
    width: 80%;
    margin: auto;
    height: 80vh;
}

.text-form {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border: 1px #ccc solid;
    border-radius: 5px;
    margin-bottom: 20px;
}